<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/principal/blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>Blog</title>
</head>

<body>

    <!--Accesos menú-->
    <header>
        <nav id="menu">
            <ul>
                <li class="item__titulo">
                    <h1>Blog</h1>
                </li>
                <li class="item__principal"><a href="../index.html">Animaciones Moreno</a></li>
                <li class="item">
                    <figure>
                        <img src="../img/idioma.webp" alt="" width="20" height="20">
                        <a href="">Idioma</a>
                    </figure>
                </li>
            </ul>
        </nav>
    </header>

    <!--Cuerpo de la página-->
    <section>
        <div class="entradas__blog">
            <article class="tarjeta">
                <h1>Entrada</h1>
                <label>Categoría</label>
                <figure>
                    <img class="blog__img" src="../img/organizar-eventos.webp" alt="">
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet lacinia ante facilisis
                    hendrerit.
                    Nam in sapien ullamcorper, aliquet erat at, posuere sem. Nullam leo sem, rutrum in tortor a. Lorem
                    ipsum
                    dolor sit amet, consectetur adipiscing elit. Etiam aliquet lacinia ante facilisis hendrerit.
                    Nam in sapien ullamcorper, aliquet erat at, posuere sem. Nullam leo sem, rutrum in tortor a. </p>
                <div><a href="">Leer más...</a></div>
            </article>

            <article class="tarjeta">
                <h1>Entrada</h1>
                <label>Categoría</label>
                <figure>
                    <img class="blog__img" src="../img/organizar-eventos.webp" alt="">
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet lacinia ante facilisis
                    hendrerit.
                    Nam in sapien ullamcorper, aliquet erat at, posuere sem. Nullam leo sem, rutrum in tortor a. Lorem
                    ipsum
                    dolor sit amet, consectetur adipiscing elit. Etiam aliquet lacinia ante facilisis hendrerit.
                    Nam in sapien ullamcorper, aliquet erat at, posuere sem. Nullam leo sem, rutrum in tortor a. </p>
                <div><a href="">Leer más...</a></div>
            </article>

            <article class="tarjeta">
                <h1>Entrada</h1>
                <label>Categoría</label>
                <figure>
                    <img class="blog__img" src="../img/organizar-eventos.webp" alt="">
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet lacinia ante facilisis
                    hendrerit.
                    Nam in sapien ullamcorper, aliquet erat at, posuere sem. Nullam leo sem, rutrum in tortor a. Lorem
                    ipsum
                    dolor sit amet, consectetur adipiscing elit. Etiam aliquet lacinia ante facilisis hendrerit.
                    Nam in sapien ullamcorper, aliquet erat at, posuere sem. Nullam leo sem, rutrum in tortor a. </p>
                <div><a href="">Leer más...</a></div>
            </article>

            <article class="tarjeta">
                <h1>Entrada</h1>
                <label>Categoría</label>
                <figure>
                    <img class="blog__img" src="../img/organizar-eventos.webp" alt="">
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet lacinia ante facilisis
                    hendrerit.
                    Nam in sapien ullamcorper, aliquet erat at, posuere sem. Nullam leo sem, rutrum in tortor a. Lorem
                    ipsum
                    dolor sit amet, consectetur adipiscing elit. Etiam aliquet lacinia ante facilisis hendrerit.
                    Nam in sapien ullamcorper, aliquet erat at, posuere sem. Nullam leo sem, rutrum in tortor a. </p>
                <div><a href="">Leer más...</a></div>
            </article>
        </div>
    </section>

    <!--Sección final de la página-->
    <footer class="pie__pagina">
        <div class="footer">
            <div class="footer__seccion">
                <h2>Animaciones Moreno</h2>
                <div class="redes__sociales">
                    <a href="#" class="fa fa-brands fa-facebook-f"></a>
                    <a href="#" class="fa fa-brands fa-instagram"></a>
                    <a href="#" class="fa fa-brands fa-twitter"></a>
                    <a href="#" class="fa fa-brands fa-pinterest"></a>
                </div>
            </div>

            <div class="footer__seccion">
                <h2>Métodos de pago</h2>
                <div class="metodos__pago">
                    <a class="fa fa-brands fa-cc-visa"></a>
                    <a class="fa fa-brands fa-paypal"></a>
                    <a class="fa fa-brands fa-cc-mastercard"></a>
                </div>
            </div>

            <div class="footer__seccion">
                <div class="ubicacion">
                    <h2>Ubicación</h2>
                    <p>Pérez Zeledón, <br>San Isidro del General</p>
                </div>
            </div>
        </div>
        <div class="footer2">
            <small>&copy;2024 Animaciones Moreno - Todos los derechos Reservados</small>
        </div>
    </footer>

</body>

</html>