<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="../../css/principal/style.css">
    <link rel="stylesheet" href="../../css/principal/general.css">
    <title>Historial</title>
</head>

<body>
    <!--Historial de cotizaciones-->
    <section class="tabla tbl-historial">
        <div class="encabezado__tabla">
            <h1>Historial de cotizaciones</h1>
        </div>

        <div class="cuerpo__tabla">
            <table>
                <thead>
                    <tr>
                        <th>Tipo de evento</th>
                        <th>Ubicación</th>
                        <th>Cant. de personas</th>
                        <th>Teléfono</th>
                        <th>Estado</th>
                        <th>Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fiesta infantil</td>
                        <td>Ubicación1</td>
                        <td>150</td>
                        <td>0000-00000</td>
                        <td>Pendiente</td>
                        <td>
                            <p>orem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Quince años</td>
                        <td>Ubicación3</td>
                        <td>200</td>
                        <td>0000-00000</td>
                        <td>Resuelto</td>
                        <td>
                            <p>orem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!--Historial de reservas-->
    <section class="tabla">
        <div class="encabezado__tabla">
            <h1>Historial de reservas</h1>
        </div>

        <div class="cuerpo__tabla">
            <table>
                <thead>
                    <tr>
                        <th>Tipo de evento</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Cant. de personas</th>
                        <th>Ubicación</th>
                        <th>Detalles</th>
                        <th>Servicios</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fiesta infantil</td>
                        <td>30/08/2024</td>
                        <td>08:30</td>
                        <td>150</td>
                        <td>Ubicación1</td>
                        <td>orem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                        <td>Mesasa | Sillas | Catering service</td>
                    </tr>
                    <tr>
                        <td>Quince años</td>
                        <td>18/09/2024</td>
                        <td>04:00</td>
                        <td>200</td>
                        <td>Ubicación3</td>
                        <td>orem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                        <td>Mesasa | Sillas | Catering service</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!--Historial de citas-->
    <section class="tabla">
        <div class="encabezado__tabla">
            <h1>Historial de citas</h1>
        </div>

        <div class="cuerpo__tabla tbl-historial">
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Ubicación</th>
                        <th>Coordinador</th>
                        <th>Asunto</th>
                        <th>Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>15/11/2024</td>
                        <td>01:30</td>
                        <td>Ubicación1</td>
                        <td>Coordinador1</td>
                        <td>orem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                        <td>orem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                    </tr>
                    <tr>
                        <td>20/08/2024</td>
                        <td>08:30</td>
                        <td>Ubicación3</td>
                        <td>Coordinador2</td>
                        <td>orem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                        <td>orem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>

</html>