<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/principal/general.css">
    <link rel="stylesheet" href="../../css/principal/style.css">
    <title>Contenido página web</title>
</head>

<body>
    <section class="separacion">
        <section>
            <div class="titulo__rep__cita">
                <h2>Título de la página</h2>
            </div>
            <div class="section__rep__cita">
                <form action="" method="">
                    <div>
                        <label>Título</label>
                        <input type="image" src="../../img/editar.png" alt="" width="20" height="20" class="btn-editar">
                        <br>
                        <input class="rep__cita__opcion" type="text" value="Opiniones de nuestros clientes">
                    </div>
                    <div>
                        <input type="submit" class="boton_rep__cita" value="Guardar" style="margin-top: -3px;">
                    </div>
                </form>
            </div>
        </section>
    </section>

    <section class="tabla">
        <div class="encabezado__tabla">
            <h1>Sección de opiniones de clientes</h1>
        </div>

        <div class="cuerpo__tabla tbl-reserva">
            <table>
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Contenido</th>
                        <th>Estrellas</th>
                        <th>Estado</th>
                        <th>Activar</th>
                        <th>Inactivar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cliente 1</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                        <td>4</td>
                        <td>Activo</td>
                        <td>
                            <input type="image" src="../../img/aprobar.webp" alt="" class="btn-aprobar">
                        </td>
                        <td>
                            <input type="image" src="../../img/desactivar.png" alt="" class="btn-eliminar">
                        </td>
                        <td>
                            <input type="image" src="../../img/eliminar.webp" alt="" class="btn-eliminar">
                        </td>
                    </tr>
                    <tr>
                        <td>Cliente 3</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                        <td>4</td>
                        <td>Activo</td>
                        <td>
                            <input type="image" src="../../img/aprobar.webp" alt="" class="btn-aprobar">
                        </td>
                        <td>
                            <input type="image" src="../../img/desactivar.png" alt="" class="btn-eliminar">
                        </td>
                        <td>
                            <input type="image" src="../../img/eliminar.webp" alt="" class="btn-eliminar">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>

</html>